.header {
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    height: 120px;
    padding-right: 28px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin-top: 8px;
}

.navbar-list i {
    color: white;
    margin-left: 5px;
}

.navbar-item {
    font-size: 1.5rem;
    display: inline-block;
    color: var(--white-color);
    margin-right: 20px;
    font-weight: 300;
    position: relative;
}

.navbar-item-strong {
    font-weight: 500;
}

.navbar-item-separate::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FB9086;
    margin-left: 10px;
    margin-top: 4px;
}

.navbar-item:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.material-icons-help {
    margin-top: 1px;
}

.fa-bell-o {
    margin-top: 2px;
}

.notify {
    position: absolute;
    top: 28px;
    width: 400px;
    right: 0px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    border-radius: 5px;
    animation: notifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: 95% top;
    display: none;
    z-index: 1;
}


.notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.notify::after {
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    right: 0;
    top: -10px;
    position: absolute;
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify h3 {
    height: 40px;
    background-color: var(--white-color);
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 450;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: text;
}

.notify ul {
    padding-left: 0px;
    height: 100%;
    list-style: none;
}

.notify .active {
    background-color: rgba(238, 75, 43, 0.1);
}

.notify-item {
    padding: 12px;
    width: 376px;
}

.notify-item:hover {
    background-color: #F7F7F7;
}

.notify-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--black-color);
}

.notify-link {
    display: flex;
}

.notify-img {
    width: 50px;
    padding-right: 12px;
}

.notify-info-name {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
}

.notify-info-description {
    display: block;
    color: #756F6E;
    font-size: 1.4rem;
    padding-top: 8px;
}

.notify-footer {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
}

.notify-footer a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}

.notify-footer:hover {
    background-color: #F7F7F7;
}

.navbar-item-has-notify:hover .notify {
    display: block;
}

.header-search {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 162px;
    height: 50px;
    color: var(--white-color);
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.search {
    height: 40px;
    background-color: var(--white-color);
    border-radius: 4px;
    flex: 1;
    margin-top: 4px;
    display: flex;
}

.cart {
    width: 175px;
    text-align: center;
    cursor: pointer;
}

.fa-shopping-cart {
    color: var(--white-color);
    margin-top: 16px;
}

.search input {
    border: none;
    outline:  none;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 0 16px;
    border-radius: 3px;
}

.search-btn {
    border: none;
    background-color: #fe6433;
    height: 33px;
    border-radius: 3px;
    margin: auto;
    width: 60px;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 0.26rem;
}

.search-btn:hover {
    background-color: #df5a30;
}

.fa-search {
    color: var(--white-color);
}

.container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category h3 {
    color: var(--black-color);
    font-size: 1.8rem;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.fa-list-ul {
    padding-right: 8px;
}

.category-list {
    list-style: none;
    padding-bottom: 16px;
}

.category-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    padding-top: 10px;
    margin-left: -12px;
    display: block;
    font-weight: 500;
    padding-bottom: 10px;
}

.category-link:hover {
    color: #fe6433;
}

.active .category-link {
    color: #fe6433;
}

.home-fillter {
    height: 50px;
    margin-top: 18px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
}

.fillter-btn {
    border: none;
    background-color: var(--white-color);
    height: 30px;
    margin-top: 9px;
    margin-left: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.lable-sort {
    font-size: 1.7rem;
    line-height: 50px;
    padding-left: 20px;
}

.home-fillter .active {
    background-color: #fe6433;
    color: white;
}

.select-fillter {
    height: 32px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top: 9px;
    margin-left: 16px;
}

.page-fillter {
    padding-right: 20px;
    font-size: 1.5rem;
    line-height: 50px;
    margin-left: auto;
    color: var(--black-color);
}

.btn-angle {
    width: 100px;
    height: 32px;
    background-color: var(--white-color);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin-right: 5px;
}

.btn-angle:hover {
    background-color: #fe6433;
    color: var(--white-color);
}

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    margin-top: 12px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-0.3rem);
}

.home-product-img img {
    width: 18.77rem;
}

.product-name {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--black-color);
    margin: 8px 10px;
    overflow: hidden;
    height: 3.2rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.old-price {
    font-size: 1.4rem;
    text-decoration: line-through;
}

.current-price {
    font-size: 1.6rem;
    color: #EE4D2D;
    font-weight: 590;
    margin-left: 4px;
}

.product-feedback {
    margin: 8px 10px;
    display: flex;
    justify-content: space-between;
}

.star {
    margin-left: 20px;
}

.buyed {
    font-size: 1.2rem;
}

.product-origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 1.15rem;
}

.product-favorite-box::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid #F25220;
    border-left:  3px solid transparent;
}

.product-favorite-box {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: #F25220;
    color: var(--white-color);
    font-size: 1.4rem;
    padding-right: 3px;
}

.product-favorite-box i {
    margin: 0 0 0 3px;
}

.sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216 , 64, 0.95);
    text-align: center;
    padding-top: 2px;
}

.sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216 , 64, 0.95) transparent rgba(255, 216 , 64, 0.95);
}

.sale-off-percent {
    color: #EE4D2D;
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 10px;
}

.sale-off-lable {
    color: white;
    font-size: 1.3rem;
}

.pagination-link {
    font-size: 1.8rem;
    color: #939393;
    width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    text-decoration: none;
    margin-left: 30px;
}

.pagination-link:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.pagination-list {
    margin-top: 25px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.pagination-list .active {
    background-color: #EE4D2D;
    color: var(--white-color);
}